@import "media-mixins";
@import "variables.scss";

.svg-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;

  .orange {
    fill: orange;
    transition: .3s;
    transform-origin: center center;
  }

  .red {
    fill: red;
    transition: .3s;
  }

  .blue {
    fill: blue;
    transition: .3s;
  }

  &:hover {
    .orange {
      transform: rotate(360deg);
    }
    .red {
      transform: translateX(10px);
    }
    .blue {
      transform: translateY(-10px);
    }
  }

  // .red.animateOn {
  //   animation: animateAdd 500ms;
  // }
  // .red.animateLeave {
  //   animation: animateRemove 500ms;
  // }

  // @keyframes animateAdd {
  //   0% {
  //     transform: translateX(0);
  //   }
  //   100% {
  //     transform: translateX(20px);
  //   }
  // }
  // @keyframes animateRemove {
  //   100% {
  //     transform: translateX(0);
  //   }
  //   0% {
  //     transform: translateX(20px);
  //   }
  // }
}

#quote{
  font-size:44px;
  line-height:50px;
}

button {
  padding:10px;
  margin: 20px 0;
}
